<div class="container-fluid">
      <form [formGroup]="applyForm" (ngSubmit)="apply(fromDate.value, toDate.value, noOfDays.value, typeOfLeave.value, description.value)">
          <label>From: </label>
          <input type="date" class="form-control" #fromDate />
          <br>
          <label>To: </label>
          <input type="date" class="form-control" #toDate/>      
          <br>
          <label>No of Days: </label>
          <input type="text" class="form-control" #noOfDays />
          <br>
          <label>Type Of Leave: </label><br>
          
          
          <select #typeOfLeave>
                <option value="Personal">Personal</option>
                <option value="Compensatory">Compensatory</option>
                <option value="LOP">LOP</option>
                <option value="Carry Forward">Carry Forward</option>
              </select>
          <br><br>
          <label>Description: </label>
          <input type="text" class="form-control" #description />        
          <br>
          <div>
            <button  type="submit">Apply</button>
            <button type="reset">Reset</button>
          </div>
      </form>
</div>