<div class="bg"><form class="center">
        From:
        
        <input [(ngModel)]="date" type="date" placeholder="Enter your Employee Id" />
        <br>
        To:
        <input type="date" name="toDate" required>
        <br>
        No. of Days: 
        <input type="number" name="NoOfDays" required>
        <br>
        Type of Leave:
        <div class="style">
         
        <select name="leaveType" >
                <option value="personalLeave">Personal Leave</option>
                <option value="compensatoryLeave">Compensatory Leave</option>
                <option value="lopLeave">LOP Leave</option>
                <option value="carryForwardLeave">Carry Forword Leave</option>
              </select>
        
    </div>
    <br>

        Description:
        <input type="text" name="description" required>
        <br>
        <button type="submit" class="button" (click)="apply()">Apply</button>
        <br>
        <button type="reset" class="button">Reset</button>
    </form>
    
    </div>