<table class="bg">
    <tr>
      <th>Username</th>
      <th>From</th>
      <th>To</th>
      <th>Days</th>
      <th>Type</th>
      <th>Description</th>
      
    </tr>
  
    <!--<li *ngFor="let request of request" >
      {{ request.username }}
      {{ request.from }}
      {{ request.to }}
      {{ request.days }}
      {{ request.type }}
      {{ request.description }}
      <button (click)="deleteRequest(request.username)">x</button>
      
      </li>
    -->
    <ul class="request">
      <li *ngFor="let request of requestLeave">
        <a>
          <span class="badge">{{ request.username }}</span>{{ request.from }}{{ request.to }}{{ request.days }}{{ request.type }}{{ request.description }
        </a>
        <button class="delete"
          (click)="deleteRequest(request.username)">x</button>
      </li>
    </ul>
    
  </table>
     