<!-- <ul (emitNewInput)="add($event)"></ul> 
<table>
    <tr>
      <th>Sno.</th>
      <th>Username</th>
      <th>From</th>
      <th>To</th>
      <th>Days</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
   </table>
<br>

<a *ngFor="let input of inputs">{{input}} </a>
   <ul>
   <button class="accept"
   (click)="acceptRequest(request)">accept</button>
   <button class="delete"
   (click)="deleteRequest(request)">x</button>

    </ul>

    <ul class="requests">
      <li *ngFor="let request of requestLeave">
       {{request.Sno}}
       {{request.username}}
       {{request.from}}
       {{request.to}}
       {{request.days}}
       {{request.type}}
       {{request.description}}
        <button class="accept"
          (click)="acceptRequest(request)">accept</button>
        <button class="delete"
          (click)="deleteRequest(request)">x</button>
        
      </li>
    </ul>
    
  -->
  <p>dasfa</p>