<div class="bg">
        <app-apply-leave (applyEvent)="addItem($event)"></app-apply-leave>
        <br>
<table class="table">
    <tr>
      <th>Username</th>
      <th>From</th>
      <th>To</th>
      <th>Days</th>
      <th>Type</th>
      <th>Description</th>
      <th>Approval</th>
    </tr>

            <td *ngFor="let request of requests">
                {{request}}
            </td>
            <button class="accept"
            (click)="acceptRequest(request)">accept</button>
          <button class="delete"
            (click)="deleteRequest(request)">x</button>
                  <br>
      <tr *ngFor="let request of requestLeave">
      <td>{{request.username}}</td>
     <td>{{request.from}}</td>
     <td>{{request.to}}</td>
     <td>{{request.days}}</td>
     <td>{{request.type}}</td>
     <td>{{request.description}}</td>
       <td> <button class="accept"
          (click)="acceptRequest(request)">accept</button>
        <button class="delete"
          (click)="deleteRequest(request)">x</button></td>
    </tr>
</table>
    
</div>