<div class="bg">
  <form [formGroup]="applyForm" (ngSubmit)="apply(applyForm.value)">
    
    <div class="form-group">
      <label>From:</label>
      <input type="date" name="formDate" formControlName="fromDate">
    </div>

    <div class="form-group">
      <label>To:   </label>
      <input type="date" name="toDate" formControlName="toDate" >
    </div>

    <div class="form-group">
      <label>No. of Days:</label>
      <input type="text" name="noOfDays" formControlName="noOfDays">
    </div>
    
    <div class="form-group">
      <label>Type of Leave:</label>
      <select>
        <option>Personal</option>
        <option>Compensatory</option>
        <option>LOP</option>
        <option>Carry Forward</option>
      </select>
    </div>
<br>
    <div class="form-group">
        <label>Descritpion:</label>
        <input type="text" name="description" formControlName="description">
      </div>
  <button class="applyButton" type="submit">Apply</button>
  <br>
  <button class="applyButton" type="reset">Reset</button>
  </form>
</div>